PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=nortech
DB_USER=nortech
DB_PASS=nortech123

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=seuemail@exemplo.com
SMTP_PASS=sua_senha_de_app
MAIL_ADDRESS=seuemail@exemplo.com
